@media(min-width: 769px)
{
  #drop-down-menu
  {
	display: block;
  }
}

@media(max-width: 1200px)
{
  #slider-wrap #predchadzajuci
  {
	left: -30px;
  }

  #slider-wrap #nasledujuci
  {
	right: -30px;
  }
}

@media(max-width: 1000px)
{
  #drop-down-menu li
  {
	padding-left: 30px;
  }

  #menu-spodne ul li
  {
	padding-right: 30px;
  }


  #slider .slide-popis h1
  {
	font-size: 45px;
  }

  #slider-wrap #predchadzajuci
  {
	left: 5px;
  }

  #slider-wrap #nasledujuci
  {
	right: 5px;
  }
}

@media(max-width: 800px)
{
  #slider .slide-popis h1
  {
	font-size: 40px;
  }
}

@media(max-width: 767px)
{
  #logo
  {
	width: 100%;
  }

  #logo a img
  {
	margin: 0 auto;
  }

  #menu-hlavne
  {
	float: left;
	width: 100%;
	margin-bottom: 30px;
  }

  #menu-hlavne > ul > li > a
  {
	display: block;
  }

  #drop-down-menu
  {
	display: none;
	float: left;
  }

  #drop-down-menu li
  {
	float: none;
	padding-left: 0;
	margin: 0.5px 0;
  }

  #drop-down-menu li a
  {
	padding: 0;
	background: white;
	padding: 8px 0 8px 20px;
  }

  #drop-down-menu li a.active
  {
	border-bottom: none;
	padding-bottom: 8px;
	color: white;
	background: #82d70e;
  }

  #slider .slide
  {
	display: none;
  }

  #slider #slide-prioritny
  {
	position: relative;
  }

  #slider .slide-popis, #slider .slide-obrazok
  {
	width: 100%;
	height: auto;
	float: left;
  }

  #slider .slide-popis h1
  {
	margin: 10px 0;
	letter-spacing: 4px;
	padding-top: 15px;
	position: inherit;
	top: 0;
	transform: none;
	-ms-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	-moz-transform: none;
  }

  #slider .slide-popis h1 span
  {
	display: inline-block;
  }

  #slider .slide-obrazok .sipka
  {
	display: none;
  }

  #content .sub-content .nazov a
  {
	width: auto;
	padding: 0 13px;
  font-size: 20px;
  margin-left: 10px;
  }

  #content .popis .text, #content .sub-content .obrazok_wrap
  {
	float: left;
	width: auto !important;
  }

  #content .sub-content .galeria .obrazok_wrap
  {
	width: 48%;
	margin-bottom: 10px;
  }

  #content #povedali .left
  {
	width: 100%;
  }

  #content #povedali h2
  {
  	padding-bottom: 20px;
    position: initial;
    transform: none;
  	-ms-transform: none;
  	-webkit-transform: none;
  	-o-transform: none;
  	-moz-transform: none;
  }
  
  #content #povedali span.sipka
  {
    background: none;
  }

  #footer ul.odkazy, #footer #tvorba
  {
	width: 100%;
  }

  #footer #tvorba
  {
	padding-top: 30px;
  }
  
  #kontakt #rkontakt div
  {
    width: auto;  
  }
  
  #kontakt #rkontakt div.left
  {
    float: none;  
  }
  
  #referencie #content .sub-content .nazov .buttonUp
  {
    width: 250px;  
  }
  
  #referencie #content .sub-content .popis .right
  {
    width: 100%;
    background: none;  
  }
  
  #referencie #content .sub-content .popis .text
  {
    margin: 0;  
  }
  
  .reveal-modal
  {
    width: 80% !important;
    left: 50%;
    margin-left: -40%;  
  }
  
  #formular
  {
    padding: 20px;  
  }
  
  #formular .button
  {
    position: initial;
    width: 100%;
    padding: 10px 0;
    margin-top: 3px;
  }
  
  #mapa iframe
  {
    width: 100%;
  }
}

@media(max-width: 500px)
{
  #content .sub-content .galeria .obrazok_wrap
  {
	width: 50%;
  }

  #content .sub-content .galeria span
  {
	font-size: 18px;
  }
}

@media(max-width: 400px)
{
  #slider .slide-popis h1 span
  {
	display: block;
  }

  #content .popis .text p
  {
	text-align: left;
  }

  #content .sub-content .galeria .obrazok_wrap
  {
	width: 100%;
  }
}

@media(max-device-width: 1300px) and (orientation: portrait)
{
  #slider .slide-popis h1 span
  {
	display: block;
  }
}

@media(max-device-width: 800px) and (orientation: portrait)
{
  #slider .slide-popis h1 span
  {
	display: inline-block;
  }
}